{{ form_start(form) }}    <div class="row">
        <div class="col-md-12">
                       </div>
        </div>  
         <div class="row">
        <div class="col-md-12">
                    {{form_label(form.imageFile,  'imageFile'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.imageFile) }} 
        <div class="col-md-8">
                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>  
        <div class="row">
        <div class="col-md-12">
                    {{form_label(form.name,  'name'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.name) }} 
        <div class="col-md-8">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.firstname,  'firstname'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.firstname) }} 
        <div class="col-md-8">
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.address,  'address'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.address) }} 
        <div class="col-md-8">
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.address2,  'address2'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.address2) }} 
        <div class="col-md-8">
                    {{ form_widget(form.address2, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.postalCode,  'postalCode'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.postalCode) }} 
        <div class="col-md-8">
                    {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.town,  'town'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.town) }} 
        <div class="col-md-8">
                    {{ form_widget(form.town, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.phone,  'phone'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.phone) }} 
        <div class="col-md-8">
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.phone2,  'phone2'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.phone2) }} 
        <div class="col-md-8">
                    {{ form_widget(form.phone2, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.fax,  'fax'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.fax) }} 
        <div class="col-md-8">
                    {{ form_widget(form.fax, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.email,  'email'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.email) }} 
        <div class="col-md-8">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>    <div class="row">
        <div class="col-md-12">
                    {{form_label(form.url,  'url'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.url) }} 
        <div class="col-md-8">
                    {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>        <div class="row">
        <div class="col-md-12">
                    {{form_label(form.note,  'note'|capitalize|trans  , {'label_attr': {class: 'col-md-4 control-label'}}) }}
 		 {{ form_errors(form.note) }} 
        <div class="col-md-8">
                    {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
        </div>
                            </div>
        </div>
   
    <input class="btn btn-info" type="submit" value="Create" />
{{ form_end(form) }}