<table class="table">
        <thead>
            <tr>
                <th>{{ 'id'|capitalize|trans  }}</th>
                <th>{{ 'name'|capitalize|trans  }}</th>
                <th>{{ 'firstname'|capitalize|trans  }}</th>
                <th>{{ 'address'|capitalize|trans  }}</th>
                <th>{{ 'address2'|capitalize|trans  }}</th>
                <th>{{ 'postalCode'|capitalize|trans  }}</th>
                <th>{{ 'town'|capitalize|trans  }}</th>
                <th>{{ 'phone'|capitalize|trans  }}</th>
                <th>{{ 'phone2'|capitalize|trans  }}</th>
                <th>{{ 'fax'|capitalize|trans  }}</th>
                <th>{{ 'email'|capitalize|trans  }}</th>
                <th>{{ 'url'|capitalize|trans  }}</th>
                 
                <th>{{ 'note'|capitalize|trans  }}</th>
                <th>{{ 'actions'|capitalize|trans  }}</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.address2 }}</td>
                <td>{{ contact.postalCode }}</td>
                <td>{{ contact.town }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.phone2 }}</td>
                <td>{{ contact.fax }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.url }}</td>
                 <td>{{ contact.note }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                   
                            <a type="button" class="btn btn-info" href="{{ path('contact_show', { 'id': contact.id }) }}">{{ 'show'|capitalize|trans  }}</a>
                   
                            <a type="button" class="btn btn-info" href="{{ path('contact_edit', { 'id': contact.id }) }}">{{ 'edit'|capitalize|trans  }}</a>
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>