{% extends 'DLMAPPContactsBundle::base.html.twig' %}
{% import _self as forms %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}


    {% block title %}
    {{parent()}} - Edit   
    {% endblock %}
 

{% block body %}
     <h1>{{ 'contact'|capitalize|trans  }}</h1>

   {%   include 'DLMAPPContactsBundle:contact:_form.html.twig' with { 'form': edit_form} %}
<hr>
   {{ form_start(delete_form) }}     
 <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-info" href="{{ path('contact_index') }}">{{ 'back_to_list'|capitalize|trans  }}</a>			<input class="btn btn-info" type="submit" value="Delete"></div>    {{ form_end(delete_form) }}       {% endblock %}
