{% extends 'DLMAPPContactsBundle::base.html.twig' %}

    {% block title %}
    {{parent()}} - Index   
    {% endblock %}
 

{% block body %}
    <h1>{{ 'contacts'|capitalize|trans  }}</h1>
      <div class="btn-group" role="group" aria-label="...">
            <a  class="btn btn-info" href="{{ path('contact_new') }}"> {{ 'Create a new'|trans  }} {{ 'contact'|trans  }} </a>
     	</div>    

     {%   include 'DLMAPPContactsBundle:contact:_list.html.twig' with { 'contacts': contacts} %}

  

{% endblock %}
