{% extends 'DLMAPPContactsBundle::base.html.twig' %}
{% import _self as forms %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

    {% block title %}
    {{parent()}} - New   
    {% endblock %}
 
{% block body %}
    <h1>{{ 'contact'|capitalize|trans  }}</h1>
{%   include 'DLMAPPContactsBundle:contact:_form.html.twig' with { 'form': form} %}

<hr>
     
 <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-info" href="{{ path('contact_index') }}">{{ 'back_to_list'|capitalize|trans  }}</a></div>       {% endblock %}
