{% extends 'DLMAPPContactsBundle::base.html.twig' %}

    {% block title %}
    {{parent()}} - Show   
    {% endblock %}
 

{% block body %}
    <h1>{{ 'contact'|capitalize|trans  }}</h1>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Id</b></div>
                <div class="col-md-4">{{ contact.id }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Name</b></div>
                <div class="col-md-4">{{ contact.name }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Firstname</b></div>
                <div class="col-md-4">{{ contact.firstname }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Address</b></div>
                <div class="col-md-4">{{ contact.address }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Address2</b></div>
                <div class="col-md-4">{{ contact.address2 }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Postalcode</b></div>
                <div class="col-md-4">{{ contact.postalCode }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Town</b></div>
                <div class="col-md-4">{{ contact.town }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Phone</b></div>
                <div class="col-md-4">{{ contact.phone }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Phone2</b></div>
                <div class="col-md-4">{{ contact.phone2 }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Fax</b></div>
                <div class="col-md-4">{{ contact.fax }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Email</b></div>
                <div class="col-md-4">{{ contact.email }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Url</b></div>
                <div class="col-md-4">{{ contact.url }}</div></div>
            </div>
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Imagename</b></div>
                <div class="col-md-4"><img src="{{ asset('images/contacts/'~contact.imageName) }} " /></div></div>
            </div>
      
           
            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>Note</b></div>
                <div class="col-md-4">{{ contact.note }}</div></div>
            </div>
   <hr>
   {{ form_start(delete_form) }}     
 <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-info" href="{{ path('contact_index') }}">{{ 'back_to_list'|capitalize|trans  }}</a>           <a class="btn btn-info" href="{{ path('contact_edit', { 'id': contact.id }) }}">{{ 'edit'|capitalize|trans  }}</a>			<input class="btn btn-info" type="submit" value="Delete"></div>    {{ form_end(delete_form) }}       {% endblock %}
