{% extends 'DLMAPPContactsBundle::base.html.twig' %}
{% block title %}{{ "contacts"|trans|capitalize }}{% endblock %}
{% block body %}
    <a  href="{{ path('contact_index') }}"><img class="plein" src="{{ asset('images/carnet.png')}}" alt="carnet"/> 
    </a>


 
 

{% endblock %}
